<div class="container">
    <div [hidden]="submitted">
    <h1>Search Images form</h1>
      <form (ngSubmit)="onSubmit()" #imageForm="ngForm" class="form-inline">
          <!--<div class="form-group">-->
              <!--<label for="name">Name</label>-->
              <!--<input type="text" class="form-control" placeholder="Python" name="name" required  [(ngModel)]="bin" #name="ngModel" id="name" >-->
              <!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">-->
                  <!--Name is required-->
              <!--</div>-->
          <!--</div>-->
          <!---->

          <!--<div class="form-group">-->
              <!--<label for="version">Version</label>-->
              <!--<input type="text" class="form-control" id="version" placeholder="2.7" required [(ngModel)]="version" name="alterEgo" name="version">-->
          <!--</div>-->
          <div class="row">
              <div class="col-md-4">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" placeholder="Python" name="name" required  [(ngModel)]="bin" #name="ngModel" id="name" >
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                      Name is required
                  </div>
              </div>
              <div class="col-md-4">
                      <label for="version">Version</label>
                  <input type="text" class="form-control" id="version" placeholder="2.7" required [(ngModel)]="version" name="version" name="version">

              </div>
          </div>

          <div class="row">
                <div class="col-md-4">
                  <label for="sort">Sort by:</label>
                  <select class="form-control" [(ngModel)]="sort"  name="sort" id="sort">
                      <option *ngFor="let s of sorting" [value]="s">{{s}}</option>
                   </select>
               </div>

               <div class="col-md-4">
                  <label for="order">Order by: </label>
                  <select class="form-control" [(ngModel)]="order" name="order" id="order">
                      <option *ngFor="let o of ordering" [value]="o">{{o}}</option>
                  </select>
              </div>

              <div class="col-md-4">
                <label for="some">Something: </label>
                <input type="text" class="form-control" placeholder="some other" id="some">
              </div>
            </div>

          <button type="submit" class="btn btn-primary" [disabled]="!imageForm.form.valid" (ngSubmit)="onSubmit()"> Search</button>

      </form>


    </div>
        <!--< component to show when the query is submitted>-->

        <div [hidden]="!submitted">
            <my-images [images]="resultImages" ></my-images>
            <button class="btn btn-default" (click)="edit()">Edit</button>

            <!--<h2>You submitted the following query :</h2>-->
          <!--<div class="row">-->
            <!--<div class="col-xs-3">Name</div>-->
            <!--<div class="col-xs-9  pull-left">{{ bin}}</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-xs-3">Version</div>-->
            <!--<div class="col-xs-9 pull-left">{{ version }}</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="col-xs-3">Order</div>-->
            <!--<div class="col-xs-9 pull-left">{{ order }}</div>-->
          <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col-xs-3">Sort</div>-->
            <!--<div class="col-xs-9 pull-left">{{ sort }}</div>-->
          <!--</div>-->
          <!--<br>-->

    </div>
</div>