/* Master Styles */

body {
    background-color: #c4cdda;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.reponame {
  color: #22b8eb;
  font-size: large;
  vertical-align: top;
}

.container-fluid {
    background-color: #c9d8ef;
}

.row-image {
 background-color: white;
 margin: 10px;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;


}

.row-image-group{
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.my-software{
  background-color: #cedbef;
  border: 1px solid #6b9ae5;
  border-radius: 4px;
  padding: 5px;
    margin: 2px;
  font-size: small;
}

.group-softwares {
  padding: 8px
}

details-image{
  border: 5px
}


.my-form-row{
  margin-bottom: 10px;
}
