<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-12">
            <h1>Search Images </h1>
            <h4 [hidden]="totImages ==undefined" >{{totImages}} images analysed by DockerFinder </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <label>Software</label>
        </div>
        <div class="col-sm-3">
            <label>Version</label>
        </div>
    </div>

    <div class="row my-form-row" *ngFor="let sw of softwares; let id = index">
        <!--<input class="col-sm-4"   type="text" [(ngModel)]="sw.name" placeholder="software name">-->
        <div class="col-sm-offset-2 col-sm-3">
            <select class="form-control" type="text" [(ngModel)]="sw.name" placeholder="software name">
                <option *ngFor="let asw of availableSoftware" [value]="asw">{{asw}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input class="form-control" [ngClass]="{errorversion: sw.error}" [(ngModel)]="sw.version"
                   (keyup)="change_version(sw)" placeholder="version">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-danger" (click)="remove(id)">Remove</button>
        </div>
    </div>

    <div class="row my-form-row">
        <div class="col-sm-offset-2 col-sm-2">
            <button class="btn btn-success btn-md" (click)="add()">Add</button>
        </div>
    </div>

      <div class="row my-form-row" >
        <div class="col-sm-offset-2 col-sm-2">
             <label >{{sizeCmpValue.name}}</label>
        </div>
        <div class="col-sm-2">
            <select class="form-control" type="text" [(ngModel)]="sizeCmpValue.cmp" placeholder="software name">
                <option *ngFor="let cmp of comparisons" [value]="cmp.val">{{cmp.name}}</option>
            </select>

        </div>
        <div class="col-sm-3">
           <input class="form-control" [(ngModel)]="sizeCmpValue.val" placeholder="bytes">
        </div>
      </div>

         <div class="row my-form-row" >
        <div class="col-sm-offset-2 col-sm-2">
             <label >{{pullsCmpValue.name}}</label>
        </div>
        <div class="col-sm-2">
            <select class="form-control" type="text" [(ngModel)]="pullsCmpValue.cmp" >
                <option *ngFor="let cmp of comparisons" [value]="cmp.val">{{cmp.name}}</option>
            </select>

        </div>
        <div class="col-sm-3">
           <input class="form-control" [(ngModel)]="pullsCmpValue.val" placeholder="pulls">
        </div>
      </div>

     <div class="row my-form-row" >
        <div class="col-sm-offset-2 col-sm-2">
             <label >{{starsCmpValue.name}}</label>
        </div>
        <div class="col-sm-2">
            <select class="form-control" type="text" [(ngModel)]="starsCmpValue.cmp" >
                <option *ngFor="let cmp of comparisons" [value]="cmp.val">{{cmp.name}}</option>
            </select>

        </div>
        <div class="col-sm-3">
           <input class="form-control" [(ngModel)]="starsCmpValue.val" placeholder="stars">
        </div>
      </div>


    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <label for="sort">Sort by:</label>
        </div>
      <!--&lt;!&ndash;  <div class="col-sm-3">-->
            <!--<label for="order">Order by:</label>-->
        <!--</div>&ndash;&gt;-->
    </div>

    <div class="row my-form-row">
        <div class="col-sm-offset-2 col-sm-3">
            <select class="form-control" [(ngModel)]="selectedSort.val" id="sort">
                <option *ngFor="let sort of sorting" [value]="sort.val">{{sort.name}}</option>
            </select>

            <!-- <select class="form-control" name="mySelect" id="sort"
            ng-options="sort.name for sort in sorting "
            ng-model="selectedSort">
          </select> -->
      </div>
         <!--   <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="order"  id="order">
                <option *ngFor="let o of ordering" [value]="o">{{o}}</option>
            </select>
        </div>-->
    </div>

    <div class="row my-form-row">
        <div class="col-sm-offset-8 col-sm-2">
            <!--<button type="submit" class="btn btn-primary" (click)="callSearchApi()"> Search</button>-->
            <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Search</button>
        </div>
    </div>
    <!--<div>{{diagnostic()}}</div>-->

</div>
